body, .citySearch {
    height: 100vh;
}

.cityInfo {
    height: 50vh;
}

.jumbotron {
    text-align: center;
    background-color: black;
    color: white;
  }
  

.citySearch {
    background-color: rgb(237, 236, 236);
}


.searchGlass {
    color: white;
    background-color: rgb(56, 140, 250);
    border-radius: 4px;
    padding: 5px;
    font-size: 25px;
}

.input {
    height: 44px;
    border-width: 2px;
    margin-right: 2px;
    border-radius: 4px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.uvCheck {
    border-radius: 20px;
}

.card {
    background-color: rgb(56, 140, 250);
    margin: 10px;
    color: white;
}

.list {
    list-style-type: none;
    width: 83%;
    text-align: left;
}

.border {
    border: 2px solid;
}